
<div align="center">
    <div class="title"><h1>欢迎来到评分系统</h1></div>
         <%= form_tag("/user_landing") do %>
         <%= label_tag("ID:") %>
        <%= text_field_tag(:id) %>
         <br>
         <%= label_tag("Password:") %>
         <%= password_field_tag(:pass) %>

      <br>
        <%= submit_tag("登录") %>
        <%end%>
    <div>
      <button onclick="openRegisterPage()">注册</button>
    </div>



</div>
<% if flash[:notice]%>
<div><%=  flash[:notice]  %></div>
<% end  %>
