
<div align="center">
    <div class="title"><h1>欢迎来到评分系统</h1></div>
         <%= form_tag("/user_landing") do %>
         <%= label_tag("ID:") %>
        <%= text_field_tag(:id) %>
         <br>
         <%= label_tag("Password:") %>
         <%= password_field_tag(:pass) %>

      <br>
        <%= submit_tag("管理员登录") %>
        <%end%>
  <%= form_tag("/user_register") do %>
      <%= submit_tag("注册") %>
  <%end%>
  <%= form_tag("/student_landing") do %>
      <%= submit_tag('学员登录') %>
  <%end%>

</div>


