<div>
  <div class="title">
    <div align="right">
      <%= form_tag("/out") do %>
          <%= submit_tag("退出") %>
      <% end %>
    </div>
    <button onclick="openManagerPage()">评分</button>
    <button onclick="openSearchPage()">查询</button>
  </div>
</div>
<div align="center">
  <%= form_tag("/search") do %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("查找") %>
  <% end %>
</div>
<div class="history">
  <%= form_tag('/history') do %>
      <%= submit_tag('历史查询') %>
  <% end %>
</div>
<% if @scores != nil %>
    <table>
      <tr>

        <th>帐号</th>
        <th>姓名</th>
        <th>沟通能力</th>
        <th>职业素养</th>
        <th>学习能力</th>
        <th>演讲能力</th>
        <th>综合能力</th>
        <th>周</th>
        <th>操作</th>
        <th>状态</th>
      </tr>
      <% @scores.each do |score| %>
          <tr>
            <td><%= link_to User.find_by_name(score.name).user_id, lookup_path({id: User.find_by_name(score.name).user_id}) %></td>
            <td><%= score.name %></td>
            <td><%= score.ability_to_communicate %></td>
            <td><%= score.professional_quality %></td>
            <td><%= score.ability_to_learn %></td>
            <td><%= score.speech_ability %></td>
            <td><%= score.comprehensive_ability %></td>
            <td>第<%= score.number %>周评分</td>
            <td><%= link_to '修改', edit_path(score) %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @scores, :previous_label => '上一页', :next_label => '下一页' %>
<% end %>