<div>
  <div class="title">
    <div class="return">
      <button onclick="returnLandingPage()">注销</button>
    </div>
    <button onclick="openManagerPage()">评分</button>
    <button onclick="openSearchPage()">查询</button>
  </div>
</div>
<div align="center">
  <%= form_tag("/manager_search") do %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("查找") %>
    <% end %>
  </div>
  <div class="history">
    <%= form_tag('/history') do %>
        <%= submit_tag('历史查询') %>
    <% end %>
  </div>
  <% if @scores != nil %>
      <% @scores.each do |score| %>
          <tr>
            <td>姓名：<%= score.name %></td>
            <td>沟通能力：<%= score.ability_to_communicate %></td>
            <td>职业素养：<%= score.professional_quality %></td>
            <td>学习能力：<%= score.ability_to_learn %></td>
            <td>沟通能力：<%= score.speech_ability %></td>
            <td>综合能力：<%= score.comprehensive_ability %></td>
            <td><%= link_to '修改'%></td>
            <br>
          </tr>
      <% end %>
<% end %>
</div>